font-face{
    font-family: "love";
    src: url(./love.ttf)
}

body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
background-color: rgb(251, 251, 251);
font-family: "love" , sans-serif;
height: 100vh;
}

.btn{
    display: flex;
    gap: 30px;
}

button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.oui{
    background-color: aqua;
}

.non{
    background-color: #d45e5e;
}

.h1{
    color: #f08080;
    text-transform: uppercase;
    font-size: 40px;
}